/* <= 1150px */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* <= 1150px */
@font-face {
  font-weight: 400;
  font-family: "Cera Round Pro";
  font-style: normal;
  src: url("../fonts/CeraRoundProDEMO-Regular.otf") format("opentype");
}

@font-face {
  font-weight: 400;
  font-family: "ubuntu";
  font-style: normal;
  src: url("../fonts/Ubuntu-R.ttf") format("truetype"), url("../fonts/Ubuntu-R.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"), url("../fonts/ptsansnarrowbold.woff") format("woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  text-rendering: geometricPrecision;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: Cera Round Pro, sans-serif;
  font-style: normal;
  line-height: 170%;
  letter-spacing: 0.04em;
  color: #383838;
  background: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

body.overflow {
  overflow: hidden;
}

@media (min-width: 768px) {
  body {
    line-height: 162%;
    font-size: 1rem;
  }
}

p {
  margin: 1em 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #f39500;
  text-decoration: underline;
  cursor: pointer;
}

a:focus {
  border: 0;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: #f39500;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button,
input {
  border-radius: 0;
}

button:focus, button:active,
input:focus,
input:active {
  outline: none;
}

::-ms-clear {
  width: 0;
  height: 0;
}

::-ms-expand {
  width: 0;
  height: 0;
}

h2 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 0.75rem;
  margin: 0;
  font-size: 1.5rem;
  line-height: 130%;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h2 {
    text-align: left;
    font-size: 2.25rem;
  }
}

@media (min-width: 1150px) {
  h2 {
    font-size: 3.25rem;
  }
}

h2::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -1.25rem;
  height: 0.125rem;
  width: 2.5rem;
  background: #f39500;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1.25rem;
}

@media (min-width: 1150px) {
  .wrapper {
    padding: 0 5.5rem;
  }
}

.wrapper-xl {
  width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .wrapper-xl {
    padding: 0 1.25rem;
  }
}

@media (min-width: 1150px) {
  .wrapper-xl {
    padding: 0 3.75rem;
  }
}

.vertical-padd {
  padding: 5rem 0;
}

@media (min-width: 768px) {
  .vertical-padd {
    padding-top: 6.25rem;
  }
}

@media (min-width: 1150px) {
  .vertical-padd {
    padding-top: 10rem;
    padding-bottom: 7.75rem;
  }
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0.3125rem 1.25rem 0.25rem;
  z-index: 2;
  text-align: center;
  border: 0.0625rem solid #fff;
  border-radius: 0.1875rem;
  color: #fff;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .btn {
    padding: 0.4375rem 1.25rem 0.375rem;
  }
}

.btn--licht {
  border: none;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right bottom, from(#006bb7), to(#009fe5));
  background: -o-linear-gradient(top left, #006bb7, #009fe5);
  background: linear-gradient(to bottom right, #006bb7, #009fe5);
}

.btn--licht::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#009fe5), to(#006bb7));
  background: -o-linear-gradient(top left, #009fe5, #006bb7);
  background: linear-gradient(to bottom right, #009fe5, #006bb7);
  border-radius: 0.1875rem;
  z-index: -1;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.btn--licht:hover::before {
  color: #f39500;
  opacity: 1;
}

.btn--licht:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#006bb7), to(#009fe5));
  background: -o-linear-gradient(top left, #006bb7, #009fe5);
  background: linear-gradient(to bottom right, #006bb7, #009fe5);
}

.wordt-lid {
  position: relative;
  width: 100%;
  padding: 5rem 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right bottom, from(#006bb7), to(#009fe5));
  background: -o-linear-gradient(top left, #006bb7, #009fe5);
  background: linear-gradient(to bottom right, #006bb7, #009fe5);
  text-align: center;
}

.wordt-lid::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#009fe5), to(#006bb7));
  background: -o-linear-gradient(top left, #009fe5, #006bb7);
  background: linear-gradient(to bottom right, #009fe5, #006bb7);
  z-index: -1;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.wordt-lid:hover::before {
  opacity: 1;
}

@media (min-width: 768px) {
  .wordt-lid {
    padding: 6.25rem 0;
  }
}

@media (min-width: 1150px) {
  .wordt-lid {
    padding: 10rem 0;
  }
}

.wordt-lid p {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .wordt-lid p {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1150px) {
  .wordt-lid p {
    font-size: 1.875rem;
    line-height: 2.625rem;
  }
}

.lity-iframe-container iframe {
  background: #FFF;
  min-height: 100%;
}

@media (max-width: 1150px) {
  .lity {
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100vh;
  }
  .lity-wrap {
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
  }
  .lity-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .lity-content {
    width: 100%;
    height: 100%;
  }
  .lity-iframe-container {
    width: 100%;
    height: 100%;
    padding-top: 0;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 5.625rem;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  overflow: hidden;
}

@media (min-width: 768px) {
  .nav {
    padding: 0rem 0;
  }
}

.nav.hidden {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}

.nav.scrolled {
  background: #006bb7;
}

.nav.scrolled .nav__item::after {
  background: #FFF;
}

.nav.scrolled .nav__wrapper::after, .nav.active .nav__wrapper::after {
  background: #006bb7;
  z-index: 1;
}

@media (min-width: 1150px) {
  .nav {
    min-height: 5.625rem;
  }
}

.nav__toggle {
  position: absolute;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  top: 1.375rem;
  right: 0;
  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 30;
}

.nav__toggle:active, .nav__toggle:focus {
  border: 0;
  outline: 0;
}

.nav__toggle::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0.5rem;
  width: 1.625rem;
  height: 0.125rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0.4375rem 0 0 #fff, 0 0.875rem 0 0 #fff;
          box-shadow: 0 0.4375rem 0 0 #fff, 0 0.875rem 0 0 #fff;
}

.nav__toggle:hover::before {
  top: 0.625rem;
  background-color: #FF6E00;
  -webkit-box-shadow: 0 0.5625rem 0 0 #FF6E00, 0 1.125rem 0 0 #FF6E00;
          box-shadow: 0 0.5625rem 0 0 #FF6E00, 0 1.125rem 0 0 #FF6E00;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}

.nav__toggle.close {
  right: 0rem;
}

.nav__toggle.close::before {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 0.5rem;
  width: 1.625rem;
  height: 0.125rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__toggle.close::after {
  content: "";
  position: absolute;
  top: 1.25rem;
  left: 0.5rem;
  width: 1.625rem;
  height: 0.125rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__toggle.close:hover {
  -webkit-transition-duration: 0;
       -o-transition-duration: 0;
          transition-duration: 0;
}

.nav__toggle.close:hover::before {
  background-color: #f39500;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.nav__toggle.close:hover::after {
  background-color: #f39500;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.nav__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: inherit;
  margin: 0 auto;
}

.nav__wrapper::after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #FFF;
}

@media (min-width: 768px) {
  .nav__wrapper {
    width: -webkit-calc(100% - 3.75rem);
    width: calc(100% - 3.75rem);
  }
}

@media (min-width: 1150px) {
  .nav__wrapper {
    width: -webkit-calc(100% - 5rem);
    width: calc(100% - 5rem);
  }
}

.nav__logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.75rem;
  margin: 0 auto 0 0;
}

@media (min-width: 768px) {
  .nav__logo {
    margin-right: 1.875rem;
  }
}

.nav__logo a {
  display: block;
  padding: 0;
}

.nav__logo img {
  display: block;
  height: 3.75rem;
  width: auto;
}

.nav__main {
  display: none;
}

@media (min-width: 768px) {
  .nav__main {
    -webkit-box-flex: 3;
    -webkit-flex-grow: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: inherit;
  }
}

.nav__items {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  min-height: inherit;
}

@media (min-width: 768px) {
  .nav__items {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1150px) {
  .nav__items {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.nav__item {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
}

.nav__item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  bottom: -0.0625rem;
  left: 0;
  background: #006bb7;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__item:hover::after {
  opacity: 1;
}

.nav__item.active:hover::after {
  opacity: 0;
}

.nav__item.active a {
  color: #f39500;
  pointer-events: none;
  cursor: default;
}

.nav__item a {
  display: block;
  font-size: 0.78125rem;
  line-height: 100%;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 768px) {
  .nav__item {
    margin-left: 0.625rem;
  }
  .nav__item a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: inherit;
  }
  .nav__item a:hover {
    color: #f39500;
  }
}

@media (min-width: 1150px) {
  .nav__item {
    margin-left: 2.5rem;
  }
  .nav__item:first-child {
    margin: 0;
  }
  .nav__item a {
    font-size: 0.875rem;
  }
}

.nav__sub-items {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: rgba(0, 107, 183, 0.8);
}

.nav__sub-item a {
  padding: 0.625rem;
}

.nav__item-show:hover .nav__sub-items {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  border-radius: 0 0 0.3125rem 0.3125rem;
  -webkit-box-shadow: 0px 5px 10px rgba(80, 80, 80, 0.5);
          box-shadow: 0px 5px 10px rgba(80, 80, 80, 0.5);
}

.nav__item-show:hover svg {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.nav__item-show:hover svg path {
  stroke: #f39500;
}

@media (min-width: 768px) {
  .nav__item-show span {
    margin-left: 0.25rem;
    margin-top: 0.1875rem;
  }
}

@media (min-width: 1150px) {
  .nav__item-show span {
    margin-left: 0.625rem;
    margin-top: 0.4375rem;
  }
}

.nav__item-show span svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media (min-width: 768px) {
  .nav__item-show span svg {
    width: 0.5rem;
    height: 0.75rem;
  }
}

@media (min-width: 1150px) {
  .nav__item-show span svg {
    width: 0.625rem;
    height: 0.9375rem;
  }
}

.nav__item-show span:hover path {
  stroke: #f39500;
}

.menu {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #006bb7;
  overflow: auto;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.menu.active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.menu__top {
  width: -webkit-calc(100% - 2.5rem);
  width: calc(100% - 2.5rem);
  height: 5.25rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .menu__top {
    width: -webkit-calc(100% - 3.75rem);
    width: calc(100% - 3.75rem);
  }
}

@media (min-width: 1150px) {
  .menu__top {
    height: 5.625rem;
    width: -webkit-calc(100% - 5rem);
    width: calc(100% - 5rem);
  }
}

.menu__wrapper {
  position: relative;
  padding: 3.75rem 1.25rem 1.25rem;
}

@media (min-width: 768px) {
  .menu__wrapper {
    padding: 3.75rem 1.875rem 1.875rem;
  }
}

@media (min-width: 1150px) {
  .menu__wrapper {
    padding: 5.625rem 8.4375rem 2.5rem 8.4375rem;
  }
}

.menu__items {
  padding: 0;
  margin: 0;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 1150px) {
  .menu__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

@media (min-width: 1150px) {
  .menu__items {
    border-top: none;
  }
}

.menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e5e5e5;
}

.menu__item.active a {
  color: #f39500;
  pointer-events: none;
  cursor: default;
}

.menu__item a {
  padding: 1.0625rem 0;
  padding-top: 1.125rem;
  display: block;
  color: #FFF;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
}

.menu__item a:hover {
  color: #f39500;
}

.menu__item .menu__sub-items {
  display: none;
  width: 100%;
  margin-top: 0.75rem;
  margin-left: 1.25rem;
}

.menu__item .menu__sub-items li {
  border-top: 1px solid #999999;
}

.menu__item .menu__sub-items li a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.menu__item .menu__sub-items li a:hover {
  color: #f39500;
}

.menu__item .menu__sub-items.active {
  display: block;
}

@media (min-width: 768px) {
  .menu__item {
    padding: 1.125rem 0;
  }
}

@media (min-width: 1150px) {
  .menu__item {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    width: 25%;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu__item:nth-child(5), .menu__item:nth-child(6) {
    margin-top: 5.625rem;
  }
  .menu__item > a {
    position: relative;
    margin-bottom: 1.5rem;
  }
  .menu__item > a::after {
    content: '';
    position: absolute;
    width: 1.875rem;
    height: 0.125rem;
    bottom: -1.5rem;
    left: 0;
    background: #E5E5E5;
  }
  .menu__item .menu__sub-items {
    display: block;
    margin-top: 1.5rem;
    width: 100%;
  }
  .menu__item .menu__contacts span {
    margin-bottom: 2rem;
  }
}

.menu__item-show:hover svg path {
  stroke: #f39500;
}

.menu__item-show span {
  float: right;
  width: 0.5rem;
  height: 0.875rem;
}

.menu__item-show span svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__item-show span:hover path {
  stroke: #f39500;
}

.menu__item-show.active svg {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu__item-show.active svg path {
  stroke: #f39500;
}

.menu__footer {
  position: static;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.25rem;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .menu__footer {
    padding: 1.875rem;
  }
}

@media (min-width: 1150px) {
  .menu__footer {
    position: relative;
    padding-top: 0;
    margin-top: 3.875rem;
    padding-left: 8.4375rem;
    padding-right: 9.75rem;
  }
}

.menu__footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__footer-links li a {
  color: #FFF;
  font-size: 1rem;
}

.menu__footer-links li a:hover {
  color: #f39500;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

@media (min-width: 768px) {
  .header {
    min-height: 39.5625rem;
  }
}

.header__slider {
  position: relative;
  width: 100%;
  height: inherit;
}

@media (min-width: 768px) {
  .header__slider {
    min-height: 39.5625rem;
  }
}

.header__slider-wrapper {
  width: 100%;
}

.header__slider-slide {
  position: relative;
  width: 100%;
  padding-top: 3.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__slider-slide--noslider {
  height: 100vh;
}

.header__slider-slide::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.header__slider-slide > img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__slider-slogan {
  margin: 0 20px;
  position: relative;
  z-index: 2;
  font-size: 1.75rem;
  line-height: 122%;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  padding: 0 1.25rem;
}

@media (min-width: 768px) {
  .header__slider-slogan {
    font-size: 2.875rem;
  }
}

@media (min-width: 1150px) {
  .header__slider-slogan {
    font-size: 3.75rem;
  }
}

.header__slider-logo {
  margin-top: 0.625rem;
  margin-bottom: 1.125rem;
  width: 7rem;
  z-index: 2;
  overflow: hidden;
}

.header__slider-logo img {
  width: inherit;
  height: auto;
}

@media (min-width: 768px) {
  .header__slider-logo {
    width: 15rem;
  }
}

.header__slider-prev,
.header__slider-next {
  opacity: 0.5;
}

.header__slider-prev:active, .header__slider-prev:focus,
.header__slider-next:active,
.header__slider-next:focus {
  outline: none;
}

.header__slider-prev:hover,
.header__slider-next:hover {
  opacity: 1;
}

.quote {
  position: relative;
  min-height: 15rem;
  width: -webkit-calc(100% - 1.25rem);
  width: calc(100% - 1.25rem);
  margin: 0 auto;
  margin-top: -1.875rem;
  padding: 4.25rem 1.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #006bb7;
  z-index: 20;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 1.25rem 2.5rem;
          box-shadow: rgba(0, 0, 0, 0.45) 0px 1.25rem 2.5rem;
  overflow: hidden;
}

.quote .quote__img {
  position: absolute;
  width: 7.5rem;
  height: auto;
  opacity: 0.1 !important;
  top: 50%;
  margin-top: -3.75rem;
}

.quote .quote__img--left {
  left: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.quote .quote__img--right {
  right: 0;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (min-width: 768px) {
  .quote .quote__img {
    width: 16.875rem;
    margin-top: -8.4375rem;
  }
}

@media (min-width: 1150px) {
  .quote .quote__img {
    width: 18.75rem;
    margin-top: -9.375rem;
  }
}

@media (min-width: 768px) {
  .quote {
    margin-top: -3.125rem;
  }
}

@media (min-width: 1150px) {
  .quote {
    min-height: 12.5rem;
    padding: 5.5rem 1.25rem;
    width: -webkit-calc(100% - 6.25rem);
    width: calc(100% - 6.25rem);
  }
}

.quote p {
  margin: 0;
  margin-bottom: 2rem;
  color: #fff;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 768px) {
  .quote p {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.0625rem;
  }
}

@media (min-width: 1150px) {
  .quote p {
    font-size: 2.75rem;
    line-height: 3.5rem;
    letter-spacing: 0.125rem;
  }
}

.quote span {
  position: relative;
  padding-top: 2rem;
  font-size: 1rem;
  color: #fff;
  font-style: italic;
}

.quote span::after {
  content: "";
  position: absolute;
  width: 3.75rem;
  height: 0.125rem;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: orange;
}

@media (min-width: 768px) {
  .quote span {
    font-size: 1.125rem;
  }
}

@media (min-width: 1150px) {
  .quote span {
    font-size: 1.25rem;
  }
}

.facts {
  position: relative;
  width: 100%;
  background-image: url("../img//bg/bg-badminton22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  overflow: hidden;
}

.offers {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .offers__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.offers__item {
  position: relative;
  padding: 4rem 1rem 2.5rem;
  margin-top: 4rem;
  text-align: center;
  border: 0.0625rem solid #f39500;
  -webkit-box-shadow: 0 0.1875rem 0.4375rem rgba(50, 10, 20, 0.4);
          box-shadow: 0 0.1875rem 0.4375rem rgba(50, 10, 20, 0.4);
  border-radius: 0.375rem;
}

.offers__item:first-child {
  margin-top: 0;
}

.offers__item:nth-child(2n +1) .offers__item-decor img {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

.offers__item:nth-child(2n) .offers__item-decor img {
  -webkit-transform: scale(-1, -1);
      -ms-transform: scale(-1, -1);
          transform: scale(-1, -1);
}

.offers__item .offers__item-decor {
  content: "";
  position: absolute;
  width: 100px;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  top: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 1px solid #f39500;
  border-radius: 0.375rem;
  background: #fff;
}

.offers__item .offers__item-decor img {
  display: block;
}

@media (min-width: 768px) {
  .offers__item {
    padding: 5.5rem 1.25rem 4rem;
    -webkit-box-shadow: 0 0.25rem 0.5rem rgba(50, 10, 20, 0.4);
            box-shadow: 0 0.25rem 0.5rem rgba(50, 10, 20, 0.4);
    margin-top: 0;
    width: 31%;
  }
}

.offers__name {
  font-weight: 700;
}

.news {
  position: relative;
  width: 100%;
  background-image: url("../img//bg/bg-news.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;
  overflow: hidden;
}

.news .btn.btn--licht {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0.25rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0.25rem 0.5rem;
}

.news .btn.btn--licht:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0.125rem 0.25rem;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 0.125rem 0.25rem;
}

.news__head {
  position: relative;
  padding-bottom: 5rem;
}

@media (min-width: 768px) {
  .news__head {
    text-align: left;
    padding-bottom: 0;
  }
}

.news__head span {
  margin-top: 1rem;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .news__head span {
    text-align: left;
  }
}

.news__wrapper {
  margin-left: 1.25rem;
}

@media (min-width: 1150px) {
  .news__wrapper {
    margin-left: 5.5rem;
  }
}

.news__slider {
  height: inherit;
  margin-bottom: 2.5rem !important;
}

.news__slider-wrapper {
  width: 100%;
  height: inherit;
  padding-bottom: 1.5rem;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .news__slider-wrapper {
    margin-top: 3.75rem;
  }
}

@media (min-width: 1150px) {
  .news__slider-wrapper {
    margin-top: 5rem;
  }
}

.news__slider-slide {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(245, 244, 244, 0.3);
  border-radius: 0.5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5rem 1.25rem;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5rem 1.25rem;
}

.news__slider-slide--noslider {
  height: 22.5rem;
}

.news__slider-slide::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
}

.news__slider-img {
  position: relative;
  width: 100%;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .news__slider-img {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 1150px) {
  .news__slider-img {
    margin-bottom: 2.5rem;
  }
}

.news__slider-img::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.news__slider-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__slider-content {
  position: relative;
  padding-left: 0.5rem;
  z-index: 10;
  padding: 0 0.75rem;
}

.news__text {
  margin-bottom: 1.25rem;
  max-height: 17.5rem;
  overflow: hidden;
}

.news__slider-date {
  color: #999999;
  display: block;
}

.news__slider-text {
  color: #000;
}

.news__slider-title {
  display: block;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .news__slider-title {
    font-size: 1.375rem;
  }
}

@media (min-width: 1150px) {
  .news__slider-title {
    font-size: 1.5rem;
  }
}

.news__slider-controls {
  height: 1.875rem;
  width: 5.625rem;
  position: absolute;
  right: 50%;
  margin-right: -2.8125rem;
  bottom: 0;
}

@media (min-width: 768px) {
  .news__slider-controls {
    bottom: 0;
    right: 0;
    margin-right: 0;
  }
}

.news__slider-prev,
.news__slider-next {
  position: absolute !important;
  background: transparent;
  width: 0 !important;
  height: 0 !important;
  opacity: 0.4;
  top: 100% !important;
}

.news__slider-prev.swiper-button-disabled,
.news__slider-next.swiper-button-disabled {
  opacity: 0.1 !important;
}

.news__slider-prev svg,
.news__slider-next svg {
  margin-top: -0.5rem;
  width: 1.875rem;
  height: 1.875rem;
}

@media (min-width: 768px) {
  .news__slider-prev svg,
  .news__slider-next svg {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.news__slider-prev:active, .news__slider-prev:focus,
.news__slider-next:active,
.news__slider-next:focus {
  outline: none;
}

.news__slider-prev:hover,
.news__slider-next:hover {
  opacity: 1;
}

.news__slider-next {
  right: 0 !important;
}

.news__slider-next svg {
  margin-left: -1.875rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.news__slider-prev {
  left: 0 !important;
}

.news__slider-prev svg {
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
}

.poster {
  position: relative;
  width: 100%;
  background-image: url("../img//bg/bg-poster.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;
  overflow: hidden;
}

.poster__head {
  text-align: center;
}

.poster__list {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .poster__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.poster__item {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 31.25rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  border: 0.75rem solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5rem 1.25rem;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5rem 1.25rem;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.poster__item:first-child {
  margin-top: 0;
}

.poster__item img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .poster__item {
    margin: 0;
    width: 31%;
    max-width: 31.25rem;
    border: 1rem solid rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 1150px) {
  .poster__item {
    border: 1.5rem solid rgba(255, 255, 255, 0.3);
  }
}

.sponsors {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.sponsors__content {
  width: 100%;
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .sponsors__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3.75rem;
  }
}

@media (min-width: 768px) {
  .sponsors__left {
    width: 49%;
  }
}

.sponsors__item {
  margin: 0 auto;
  margin-top: 3.25rem;
  max-width: 17.5rem;
}

@media (min-width: 768px) {
  .sponsors__item {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
}

.sponsors__item:first-child {
  margin-top: 0;
}

.sponsors__item img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.sponsors__right {
  margin-top: 3.75rem;
}

@media (min-width: 768px) {
  .sponsors__right {
    width: 49%;
    margin-top: 0;
    text-align: left;
  }
}

.sponsors__right h3 {
  margin: 0;
  margin-bottom: 1rem;
}

.sponsors__right p {
  margin: 0;
  margin-top: 0.75rem;
}

.sponsors__right p:first-child {
  margin-top: 0;
}

.sponsors__right .btn {
  margin-top: 1rem;
}

.feedback {
  position: relative;
  width: 100%;
  background-image: url("../img//bg/bg-feedback.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;
  overflow: hidden;
}

.feedback .btn.btn--licht {
  margin-top: 1.5rem;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0.25rem 0.5rem;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0.25rem 0.5rem;
}

@media (min-width: 768px) {
  .feedback .btn.btn--licht {
    margin-top: 2.5rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

.feedback__head span {
  margin-top: 1rem;
  display: block;
  text-align: center;
}

.feedback__form {
  margin-top: 3.75rem;
  width: 100%;
}

.feedback__form input {
  width: 100%;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  background: rgba(245, 244, 244, 0.7);
  border: none;
  border-bottom: 0.0625rem solid #C4C4C4;
}

.feedback__form input::-webkit-input-placeholder {
  color: #3f3f3f;
}

.feedback__form input::-moz-placeholder {
  color: #3f3f3f;
}

.feedback__form input::-moz-placeholder {
  color: #3f3f3f;
}

.feedback__form input::-ms-input-placeholder {
  color: #3f3f3f;
}

.feedback__form input:hover {
  border-bottom: 0.125rem solid #009fe5;
  margin-bottom: 1.9375rem;
}

.feedback__form input:focus {
  border-bottom: 0.125rem solid #006bb7;
  margin-bottom: 1.9375rem;
}

@media (min-width: 768px) {
  .feedback__form {
    margin-top: 3.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .feedback__inputs {
    width: 48%;
  }
  .feedback__inputs input:last-child {
    margin-bottom: 0;
  }
}

.feedback__form__textarea {
  width: 100%;
  padding: 0.75rem;
  height: 12.5rem;
  resize: none;
  border: 0.0625rem solid #C4C4C4;
}

.feedback__form__textarea:hover {
  outline: 0.125rem solid #009fe5;
}

.feedback__form__textarea:focus {
  outline: 0.125rem solid #006bb7;
}

@media (min-width: 768px) {
  .feedback__form__textarea {
    width: 48%;
    padding: 0.875rem 1rem;
    height: 10rem;
  }
  .feedback__form__textarea:hover {
    padding: 0.8125rem 0.9375rem;
  }
  .feedback__form__textarea:focus {
    outline: none;
    padding: 0.8125rem 0.9375rem;
  }
}

.map {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .map .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.map.vertical-padd {
  padding-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .map.vertical-padd {
    padding-bottom: 1.25rem;
  }
}

.map iframe {
  margin-top: 2.5rem;
  width: 100%;
}

@media (min-width: 768px) {
  .map iframe {
    width: 48%;
  }
}

.map .btn.btn--licht {
  margin-top: 1.75rem;
}

@media (min-width: 768px) {
  .map .btn.btn--licht {
    margin-top: 3.75rem;
  }
}

.map__head {
  text-align: center;
}

@media (min-width: 768px) {
  .map__head {
    text-align: left;
    width: 100%;
  }
}

.map__head span {
  margin-top: 1rem;
  display: block;
  text-align: center;
}

@media (min-width: 768px) {
  .map__head span {
    text-align: left;
  }
}

.map__location {
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .map__location {
    margin-top: 0;
    width: 48%;
  }
}

.map__location-items li {
  position: relative;
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.map__location-items li:first-child {
  margin-top: 0;
}

.map__location-items li p {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  margin: 0;
}

@media (min-width: 768px) {
  .map__location-items li p {
    width: -webkit-calc(100% - 70px);
    width: calc(100% - 70px);
  }
}

.map__location-items li svg {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1.25rem;
}

@media (min-width: 768px) {
  .map__location-items li svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.875rem;
  }
}

.footer {
  position: relative;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 1.75rem;
  background: #002f51;
  overflow: hidden;
}

.footer__nav {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 1150px) {
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.footer__nav-logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 3.75rem;
  margin: 0 auto 0 0;
}

@media (min-width: 768px) {
  .footer__nav-logo {
    margin-right: 1.875rem;
  }
}

@media (min-width: 1150px) {
  .footer__nav-logo {
    margin-right: 8.75rem;
  }
}

.footer__nav-logo a {
  display: block;
  padding: 0;
}

.footer__nav-logo img {
  display: block;
  height: 3.75rem;
  width: auto;
}

.footer__nav-items {
  margin-top: 1.75rem;
}

@media (min-width: 768px) {
  .footer__nav-items {
    margin-top: 1.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1150px) {
  .footer__nav-items {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.footer__nav-item {
  margin-top: 0.625rem;
}

@media (min-width: 768px) {
  .footer__nav-item {
    margin-top: 0;
    margin-right: 0.75rem;
  }
  .footer__nav-item:last-child {
    margin: 0;
  }
}

.footer__nav-item:first-child {
  margin-top: 0;
}

.footer__nav-item a {
  color: #FFF;
  text-decoration: none;
}

.footer__nav-item a:hover {
  color: #f39500;
}

.footer__nav-sub-items {
  margin-left: 1.25rem;
}

@media (min-width: 768px) {
  .footer__nav-sub-items {
    margin-left: 0rem;
  }
}

.footer__nav-sub-item a {
  color: #b3b3b3;
}

.footer__mail {
  margin-top: 2.25rem;
  text-align: center;
}

.footer__mail span {
  display: block;
  color: #FFF;
  font-weight: 700;
}

.footer__mail a {
  color: #FFF;
}

.footer__mail a:hover {
  color: #f39500;
}

.footer__copyright {
  margin-top: 2.25rem;
  text-align: center;
}

@media (min-width: 1150px) {
  .footer__copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__copyright li {
  display: block;
  color: #999999;
  margin-bottom: 1.5rem;
}

.footer__copyright li:last-child {
  font-size: 0.75rem;
  margin: 0;
}

:root,
html {
  font-size: 16;
}

/*# sourceMappingURL=style.css.map */
