.header {
  position: relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;  

  @media (min-width: $tablet) {
    min-height: rem(633px);
  }
}

.header__slider {
  position: relative;
  width: 100%;
  height: inherit;
  @media (min-width: $tablet) {
    min-height: rem(633px);
  }
}

.header__slider-wrapper {
  width: 100%;
}

.header__slider-slide {
  position: relative;

  padding-top: rem(60px);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &--noslider {
    height: 100vh;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparentize(darken($blue, 50%), 0.6);
  }

  >img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
  }
}

.header__slider-slogan {
  margin: 0 20px;
  position: relative;
  z-index: 2;
  font-size: rem(28px);
  line-height: 122%;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  padding: 0 rem(20px);

  @media (min-width: $tablet) {
    font-size: rem(46px);
  }

  @media (min-width: $desktop) {
    font-size: rem(60px);
  }
}

.header__slider-logo {
  margin-top: rem(10px);
  margin-bottom: rem(18px);
  width: rem(112px);
  z-index: 2;
  overflow: hidden;

  img {
    width: inherit;
    height: auto;
  }

  @media (min-width: $tablet) {
    width: rem(240px);
  }
}

.header__slider-prev,
.header__slider-next {

  opacity: 0.5;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}