.news {
  position: relative;
  width: 100%;

  background-image: url("../img//bg/bg-news.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  text-align: center;

  .btn.btn--licht{
    box-shadow: rgba(0, 0, 0, 0.3) 0px rem(4px) rem(8px);

    &:active {
      box-shadow: rgba(0, 0, 0, 0.8) 0px rem(2px) rem(4px);
    }
  }
}

.news__head {
  position: relative;
  padding-bottom: rem(80px);

  @media (min-width: $tablet) {
    text-align: left;
    padding-bottom: 0;
  }

  span {
    margin-top: rem(16px);
    display: block;
    text-align: center;

    @media (min-width: $tablet) {
      text-align: left;
    }
  }
}

.news__wrapper {
  margin-left: rem(20px);

  @media (min-width: $tablet) {
      }

  @media (min-width: $desktop) {
    
    margin-left: rem(88px);
  }
}

.news__slider {
  height: inherit;

  margin-bottom: rem(40px) !important;
}

.news__slider-wrapper {
  width: 100%;
  height: inherit;
  padding-bottom: rem(24px);

  margin-top: rem(40px);

  @media (min-width: $tablet) {
    margin-top: rem(60px);
  }

  @media (min-width: $desktop) {
    margin-top: rem(80px);
  }
}

.news__slider-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  overflow: hidden;
  box-sizing: border-box;

  background: rgba(245, 244, 244, 0.3);
  border-radius: rem(8px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px rem(8px) rem(20px);


  &--noslider {
    height: rem(360px);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
  }
}

.news__slider-img {
  position: relative;
  width: 100%;
  margin-bottom: rem(20px);


  @media (min-width: $tablet) {
    margin-bottom: rem(30px);
  }

  @media (min-width: $desktop) {
    margin-bottom: rem(40px);
  }

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.news__slider-content {
  position: relative;
  padding-left: rem(8px);
  z-index: 10;
  padding: 0 rem(12px);
}

.news__text {
  margin-bottom: rem(20px);
  max-height: rem(280px);

  overflow: hidden;
}

.news__slider-date {
  color: $dark-grey;
  display: block;
}

.news__slider-text {
  color: #000;
}

.news__slider-title {
  display: block;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: rem(20px);
  text-align: left;
  margin-top: rem(8px);


  @media (min-width: $tablet) {
    font-size: rem(22px);
  }

  @media (min-width: $desktop) {
    font-size: rem(24px);
  }
}

.news__slider-controls {
  height: rem(30px);
  width: rem( 90px);
  position: absolute;
  right: 50%;
  margin-right: rem(-45px);
  bottom: 0;

  @media (min-width: $tablet) {

    bottom: 0;
    right: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop) {
  }
}


.news__slider-prev,
.news__slider-next {
  position: absolute !important;
  background: transparent;
  width: 0 !important;
  height: 0 !important;
  opacity: 0.4;
  top: 100% !important;

  &.swiper-button-disabled {
    opacity: 0.1 !important;
  }

  svg {
    margin-top: rem(-8px);
    width: rem(30px);
    height: rem(30px); 

    @media (min-width: $tablet) {
      width: rem(30px);
      height: rem(30px);
    }
  
    @media (min-width: $desktop) {

    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}


.news__slider-next {

  right: 0 !important;

  svg {
    margin-left: rem(-30px);
    transform: rotate(45deg);
  }
}

.news__slider-prev {

  left: 0 !important;

  svg {
    transform: rotate(225deg);
  }
}