.offers {
  position: relative;
  width: 100%;
  overflow: hidden;

}

.offers__list {

  @media (min-width: $tablet) {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: $desktop) {
  }
}

.offers__item {
  position: relative;
  padding: rem(32px) rem(16px);
  margin-top: rem(16px);
  text-align: center;
  border: rem(1px) solid $orange;
  box-shadow: 0 rem(4px) rem(8px) rgba(50, 10, 20, 0.4);
  border-radius: rem(6px);

  &:first-child {
    margin-top: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 80px;
    
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border: 1px solid $orange;
    border-radius: rem(6px);
  }

  @media (min-width: $tablet) {

    padding: rem(88px) rem(20px) rem(64px);
    margin-top: 0;
    width: 31%;
  }
}

.offers__name {
  font-weight: 700;
}