.offers {
  position: relative;
  width: 100%;
  overflow: hidden;

}

.offers__list {

  @media (min-width: $tablet) {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  @media (min-width: $desktop) {
  }
}

.offers__item {
  position: relative;
  padding: rem(64px) rem(16px) rem(40);
  margin-top: rem(64px);
  text-align: center;
  border: rem(1px) solid $orange;
  box-shadow: 0 rem(3px) rem(7px) rgba(50, 10, 20, 0.4);
  border-radius: rem(6px);

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2n +1) {

    .offers__item-decor {

      img {
        transform: scale(1, -1);
      }
    }
  }

  &:nth-child(2n) {

    .offers__item-decor {

      img {
        transform: scale(-1, -1);
      }
    }
  }

  .offers__item-decor {
    content: "";
    position: absolute;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid $orange;
    border-radius: rem(6px);

    background: #fff;

    img {
      display: block;
    }
  }

  @media (min-width: $tablet) {

    padding: rem(88px) rem(20px) rem(64px);
    box-shadow: 0 rem(4px) rem(8px) rgba(50, 10, 20, 0.4);
    margin-top: 0;
    width: 31%;
  }
}

.offers__name {
  font-weight: 700;
}