.sponsors {
  position: relative;
  width: 100%;
  text-align: center;
}

.sponsors__content {
  width: 100%;
  margin-top: rem(40px);

  @media (min-width: $tablet) {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: rem(60px);
  }
}

.sponsors__left {

  @media (min-width: $tablet) {

    width: 49%;
  }
}

.sponsors__list {

  @media (min-width: $tablet) {

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
  }

  @media (min-width: $desktop) {}
}

.sponsors__item {
  margin: 0 auto;
  margin-top: rem(52px);
  max-width: rem(280px);

  @media (min-width: $tablet) {

    max-width: max-content;
    // margin-top: 0;
  }

  &:first-child {
    margin-top: 0;
  }

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
  }
}

.sponsors__right {
  margin-top: rem(60px);

  @media (min-width: $tablet) {

    width: 49%;
    margin-top: 0;

    text-align: left;
  }

  h3 {
    margin: 0;
    margin-bottom: rem(16px);
  }

  p {
    margin: 0;
    margin-top: rem(12px);

    &:first-child {
      margin-top: 0;
    }
  }

  .btn {
    margin-top: rem(16px);
  }
}