* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  text-rendering: geometricPrecision;
  font-size: rem(14px);
  font-weight: 400;
	font-family: Cera Round Pro, sans-serif;
  font-style: normal;
  line-height: 170%;
  letter-spacing: 0.04em;
  color: rgb(56, 56, 56);
  background: #fff;

  &.overflow {
    overflow: hidden;
  }

  @media (min-width: $tablet) {
    line-height: 162%;
    font-size: rem(16px);
  }
}

p {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: $orange;
  text-decoration: underline;
  cursor: pointer;

  &:focus{
    border: 0;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: $orange;
    text-decoration: none;
  }
}

button {
  @include button-reset;
}

button,
input {
  border-radius: 0;

  &:focus,
  &:active {
    outline: none;
  }
}

::-ms-clear {
  width: 0;
  height: 0;
}

::-ms-expand {
  width: 0;
  height: 0;
}

h2 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-bottom: rem(12px);
  margin: 0;
  font-size: rem(24px);
  line-height: 130%;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    text-align: left;
    font-size: rem(36px);
  }

  @media (min-width: $desktop) {
    font-size: rem(52px);
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    margin-left: rem(-20px);

    height: rem(2px);
    width: rem(40px);

    background: $orange;
  }
}