.wrapper {
  margin: 0 auto;
  padding: 0 rem(20px);

  @media (min-width: $tablet) {}

  @media (min-width: $desktop) {

    padding: 0 rem(88px);
  }
}

.wrapper-xl {
  width: 100%;
  padding: 0 rem(20px);
  margin: 0 auto;

  @media (min-width: $tablet) {

    padding: 0 rem(20px);
  }

  @media (min-width: $desktop) {

    padding: 0 rem(60px);
  }
}

.vertical-padd {
  padding: rem(80px) 0;

  @media (min-width: $tablet) {

    padding-top: rem(100px);
  }

  @media (min-width: $desktop) {

    padding-top: rem(160px);
    padding-bottom: rem(124px);
  }
}

.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: rem(5px) rem(20px) rem(4px);

  z-index: 2;

  text-align: center;
  border: rem(1px) solid #fff;
  border-radius: rem(3px);

  color: #fff;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: rgba(0,0,0,0.1);
  }

  @media (min-width: $tablet) {

    padding: rem(7px) rem(20px) rem(6px);
  }

  &--licht {
    
    border: none;
    z-index: 1;
    background: linear-gradient(to bottom right, $blue, $light-blue);

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom right, $light-blue, $blue);
      border-radius: rem(3px);
  
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0;
    }
    
    &:hover::before {
      color: $orange;
      opacity: 1;
    }

    // &:active {
    //   background: $blue;
    // }

    &:hover {
      background: linear-gradient(to bottom right, $blue, $light-blue);
    }
  }
}


.wordt-lid {
  position: relative;
  width: 100%;
  padding: rem(80px) 0;

  z-index: 1;

  background: linear-gradient(to bottom right, $blue, $light-blue);
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom right, $light-blue, $blue);

    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  
  &:hover::before {
    opacity: 1;
  }

  @media (min-width: $tablet) {

    padding: rem(100px) 0;
  }

  @media (min-width: $desktop) {

    padding: rem(160px) 0;
  }
  p {
    margin: 0;
    margin-bottom: rem(24px);
    color: #fff;
    font-weight: 700;
    font-size: rem(20px);
    line-height: rem(28px);

    @media (min-width: $tablet) {

      font-size: rem(24px);
      line-height: rem(30px);
      margin-bottom: rem(32px);
    }
  
    @media (min-width: $desktop) {
  
      font-size: rem(30px);
      line-height: rem(42px);
    }  
  }
}